body{
    margin: 0;
    padding: 0;
}
.red{
    background: firebrick;
    color:bisque
}
.name{
      background-color: darkorange;
}
.green{
    background-color: green;
    color: aliceblue;
}
body{
    background-color: rgba(221, 123, 123, 0.899);
}
tr{
    text-align: center;
}
h1{
    text-align: center;
}
.text{
    background-color: rgba(238, 4, 4, 0.982);
    border-style: groove;
    border-width: 5px;
}
.logo{
    background-color: rgba(128, 255, 0, 0.981);
    border-style: groove;
    border-width: 5px;
    text-shadow: 2px 2px red;
    display:flex;
}

.logo p{
    font-size:larger;
}

.data{
    background-color:chartreuse;

}
.navbar{
    padding:0;
    margin:0;
    background-color: black;
}
.navbar ul{
    overflow:auto;
}

